header {
  h1 {
  font-family: $heading-font;
  color: $black;
  font-size:110px;
  text-align: center;
  margin-top:10px;
  margin-bottom: 20px;
  }
  span {
    font-size:22px;
    position:relative;
    bottom:22px;
  }
}
