.navbar {
  border-radius: 0;
  border: 1px solid #e6e6e6;
  border-right: none;
  border-left: none;
  background: $white;
  .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    li{
      a{
        color: $black;
        font-family: $nav-font;
        font-size: 15px;
        font-weight:900;
        text-transform: uppercase;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
  .navbar-collapse {
    text-align: center;
  }
}
