<form ng-submit="suitsUpdate.edit()">
  <h1>Update suit</h1>
  <h2>Title</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="title" ng-model="suitsUpdate.suit.title" placeholder="">
  </div>
  <h2>Brand</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="brand" ng-model="suitsUpdate.suit.brand" placeholder="">
  </div>
  <h2>Image URL</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="image" ng-model="suitsUpdate.suit.image" placeholder="">
  </div>
  <h2>Colour</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="colour" ng-model="suitsUpdate.suit.colour" placeholder="">
  </div>
  <h2>Chest Size</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="jacket_chest" ng-model="suitsUpdate.suit.jacket_chest" placeholder="">
  </div>
  <h2>Jacket Length</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="jacket_length" ng-model="suitsUpdate.suit.jacket_length" placeholder="">
  </div>
  <h2>Jackets Shoulder Length</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="jacket_shoulder_length" ng-model="suitsUpdate.suit.jacket_shoulder_length" placeholder="">
  </div>
  <h2>Jacket Sleeve</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="jacket_sleeve" ng-model="suitsUpdate.suit.jacket_sleeve" placeholder="">
  </div>
  <h2>Jacket Waist</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="jacket_waist" ng-model="suitsUpdate.suit.jacket_waist" placeholder="">
  </div>
  <h2>Trouser Waist</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="trouser_Waist" ng-model="suitsUpdate.suit.trouser_waist" placeholder="">
  </div>
  <h2>Trouser Length</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="trouser_length" ng-model="suitsUpdate.suit.trouser_length" placeholder="">
  </div>
  <h2>Trouser Front Rise</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="trouser_front_rise" ng-model="suitsUpdate.suit.trouser_front_rise" placeholder="">
  </div>
  <h2>Notes</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="notes" ng-model="suitsUpdate.suit.notes" placeholder="">
  </div>
  <h2>Deposit</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="deposit" ng-model="suitsUpdate.suit.deposit" placeholder="">
  </div>
  <h2>Daily Hire Price</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="daily_price" ng-model="suitsUpdate.suit.daily_price" placeholder="">
  </div>
  <h2>Fit</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="fit" ng-model="suitsUpdate.suit.fit" placeholder="">
  </div>
  <input class="btn btn-primary" type="submit" value="Update"/>
</form>
