<h1>Suit update</h1>
<form ng-submit="suitsUpdate.edit()">
  <div class="form-group">
    <input class="form-control" type="text" name="title" ng-model="suitsUpdate.suit.title" placeholder="Title">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="brand" ng-model="suitsUpdate.suit.brand" placeholder="Brand">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="image" ng-model="suitsUpdate.suit.image" placeholder="Image URL">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="colour" ng-model="suitsUpdate.suit.colour" placeholder="Colour">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="jacket_chest" ng-model="suitsUpdate.suit.jacket_chest" placeholder="Chest Size">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="jacket_length" ng-model="suitsUpdate.suit.jacket_length" placeholder="Jacket Length">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="jacket_shoulder_length" ng-model="suitsUpdate.suit.jacket_shoulder_length" placeholder="Jackets Shoulder Length">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="jacket_sleeve" ng-model="suitsUpdate.suit.jacket_sleeve" placeholder="Jacket Sleeve">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="jacket_waist" ng-model="suitsUpdate.suit.jacket_waist" placeholder="Jacket Waist">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="trouser_Waist" ng-model="suitsUpdate.suit.trouser_waist" placeholder="Trouser Waist">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="trouser_length" ng-model="suitsUpdate.suit.trouser_length" placeholder="Trouser length">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="trouser_front_rise" ng-model="suitsUpdate.suit.trouser_front_rise" placeholder="Trouser Front Rise">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="notes" ng-model="suitsUpdate.suit.notes" placeholder="Notes">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="deposit" ng-model="suitsUpdate.suit.deposit" placeholder="Deposit">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="daily_price" ng-model="suitsUpdate.suit.daily_price" placeholder="Daily Price">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="fit" ng-model="suitsUpdate.suit.fit" placeholder="Fit">
  </div>
  <input class="btn btn-primary" type="submit" value="Submit"/>
</form>
<h3 ng-click="suitsUpdate.delete()">Delete</h3>
