$primary-color:   #000000;
$secondary-color: #555555;
$tertiary-color:  #fcfcfc;
$quarternary-color: #e6e6e6;
$accent-color:    #C00000;
$white:           #ffffff;
$black:           #000000;

$heading-font:    'Playfair Display', serif;
$nav-font:        'Ubuntu', sans-serif;
$footer-font:     'Crimson Text', serif;
$body-font:       'Frank Ruhl Libre', sans-serif;
