$primary-color:   #000000;
$secondary-color: #D0D0D0;
$tertiary-color:  #f6fafd;
$quarternary-color: #333;
$accent-color:    #C00000;
$white:           #ffffff;
$black:           #000000;

$heading-font:    'Playfair Display', serif;
$nav-font:        'Ubuntu', sans-serif;
$body-font:       'Crimson Text', serif;
