<h1>{{ suitsShow.suit.title }}</h1>
<h5>posted by <span ui-sref="usersShow({id: suitsShow.suit.user.id})">{{ suitsShow.suit.user.first_name }}</span> </h5>
<img src="{{ suitsShow.suit.image }}" alt="suit image">
<h3>{{ suitsShow.suit.title }}'s Current Requests</h3>
<p ng-repeat="requests in suitsShow.suit.requests">Requested from {{ requests.start_time }} till {{ requests.end_time }} by {{ requests.requester.first_name }} {{ requests.requester.last_name }}.</p>
<br>
<p>Want to rent this suit? Submit a request below!</p>
<form ng-submit="suitsShow.requestcreate()">
  <p>I want to rent this suit from</p>
  <div class="form-group">
    <input class="form-control" type="date" name="score" ng-model="suitsShow.request.start_time" placeholder="start time">
  </div>
  <p>till</p>
  <div class="form-group">
    <input class="form-control" type="date" name="comment" ng-model="suitsShow.request.end_time" placeholder="end time">
  </div>
  <input class="btn btn-primary" type="submit" value="Submit"/>
</form>

<br>
<h3>{{ suitsShow.suit.title }}'s Reviews</h3>
<p ng-repeat="reviews in suitsShow.suit.reviews">{{ reviews.score }} stars. {{ reviews.comment }}. Reviewed on {{ reviews.created_at }}</p>

<br>
<p>Did you borrow this suit? If so let others know what your experience was like below!</p>

<form ng-submit="suitsShow.reviewcreate()">
  <div class="form-group">
    <input class="form-control" type="text" name="comment" ng-model="suitsShow.review.comment" placeholder="Comment">
  </div>
  <div class="form-group">
    <select name="Stars" ng-model="suitsShow.review.score" placeholder="5 stars">
      <option value="5">&starf;&starf;&starf;&starf;&starf;</option>
      <option value="4">&starf;&starf;&starf;&starf;</option>
      <option value="3">&starf;&starf;&starf;</option>
      <option value="2">&starf;&starf;</option>
      <option value="1">&starf;</option>
    </select>
  </div>
  <input class="btn btn-primary" type="submit" ng-click="reload()" value="Submit"/>
</form>
