<section class="login container">
<!-- <h1>SIGN IN</h1> -->
<form ng-submit="login.login()">
  <h2>Email Address</h2>
  <div class="form-group">
    <input class="form-control" type="email" name="email" ng-model="login.user.email" placeholder="">
  </div>
  <h2>Password</h2>
  <div class="form-group">
    <input class="form-control" type="password" name="password" ng-model="login.user.password" placeholder="">
  </div>
  <input class="btn btn-primary" type="submit" value="Sign in">
</form>
</section>
