<form ng-submit="register.register()">
  <h2>Username</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="username" ng-model="register.user.username" placeholder="">
  </div>
  <h2>First Name</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="firstName" ng-model="register.user.first_name" placeholder="">
  </div>
  <h2>Last Name</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="lastName" ng-model="register.user.last_name" placeholder="">
  </div>
  <h2>Image</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="image" ng-model="register.user.profile_img" placeholder="">
  </div>
  <h2>Email</h2>
  <div class="form-group">
    <input class="form-control" type="email" name="email" ng-model="register.user.email" placeholder="">
  </div>
  <h2>Address First Line</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="Address first line" ng-model="register.user.address_first_line" placeholder="">
  </div>
  <h2>Address Second Line</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="Address second line" ng-model="register.user.address_second_line" placeholder="">
  </div>
  <h2>Postcode</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="Address postcode" ng-model="register.user.address_postcode" placeholder="">
  </div>
  <h2>City</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="Address city" ng-model="register.user.address_city" placeholder="">
  </div>
  <h2>Telephone Number</h2>
  <div class="form-group">
    <input class="form-control" type="text" name="telephone number" ng-model="register.user.telephone_no" placeholder="">
  </div>
  <h2>Password</h2>
  <div class="form-group">
    <input class="form-control" type="password" name="password" ng-model="register.user.password" placeholder="">
  </div>
  <h2>Password confirmation</h2>
  <div class="form-group">
    <input class="form-control" type="password" name="passwordConfirmation" ng-model="register.user.password_confirmation" placeholder="">
  </div>
  <input class="btn btn-primary" type="submit" value="Submit" />
</form>
